@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.header {
  background-color: rgba(90, 96, 103, .8);
  color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 20px;
  gap: 20px;
  align-items: center;
  height: 50px;
  font-size: larger;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}

.banner h1 {
  font-size: 3.4rem;
  font-weight: 700;
  color: #fefefe;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-transform: capitalize;
}

.text-title {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.header > a:hover {
  cursor: pointer;
  background-color: aqua;
}

.btn-cta {
  width: 100px;
  background-color: #fefefe;
  border-color: #303030;
  padding:  10px;
  border-radius: 40px;
}

.btn-cta:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
