@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  padding:0;
	margin:0;
	font-family: 'Nunito Sans', sans-serif;
	scroll-behavior: smooth;
}

.header {
  
  background-color: #40A2E3;
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
  color: whitesmoke;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 200px;
  flex-direction: column;
  gap: 10px;
  min-height: 400px;
}

.banner h1 {
  font-size: 3.4rem;
  font-weight: 700;
  color: #fefefe;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-transform: capitalize;
}

.text-title {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.header > a:hover {
  cursor: pointer;
  background-color: aqua;
}

.btn-cta {
  width: 100px;
  background-color: #fefefe;
  border-color: #303030;
  padding:  10px;
  border-radius: 40px;
}

.btn-cta:hover {
  cursor: pointer;
}


.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  min-height: 800px;
}

.left-content {
  width: 30%;
  justify-content: right;
  display: flex;
}

.right-content{
  width: 70%;
}

.content h1 {
  font-size: 3.5rem;
}

footer { 
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #4b3c3c;
  color: white;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
